<events>
    <event name='Beast of the East 2011'>
        <game score1='8' team1='Toronto Gore-Gore Rollergirls'
              team2='Montreal La Racaille' score2='11'/>
        <game score1='58' team1='Toronto Death Track Dolls'
              team2='Montreal Les Contrabanditas' score2='49'/>
    </event>
    <event name='yfyddgaud 547467'>
        <game score1='55' team1='Rfdhsfdsh'
              team2='Cgjuafujj' score2='10'/>
        <game score1='32' team1='Mugvugdb'
              team2='Pjkkvgsbb' score2='59'/>
    </event>
    <event name='Vwudfuvudk 622'>
        <game score1='61' team1='Ksfhfauigi'
              team2='Fugfueigfifge' score2='71'/>
        <game score1='25' team1='Yjvfjvavc'
              team2='Kugfugsujgu' score2='29'/>
    </event>
</events>